*{
  box-sizing:border-box;
}

body {
  margin:0;
  font-family:"Hiragino Kaku Gothic ProN";
}

a {
  text-decoration:none;
}

.clear {
  clear:left;
}

header{
  position:fixed;
  top:0;
  z-index:10;
}

.container  {
  max-width:1170px;
  width:100%; 
  /* width:1170px; */
  padding-right:15px;
  padding-left:15px;
  margin:0 auto;
  /* text-align:center; */
}

.top-wrapper {
  padding:180px 0 100px 0;
  background-image:url("https://github.com/sora-sky/sora-sky.github.io/blob/master/inu.jpg?raw=true");
  color:rgb(14, 68, 7);
  background-size:cover;
  text-align:center;
}

.container h1 {
  opacity:0.6;
  font-size:45px;
  letter-spacing:4px;
}

.container p {
  opacity:0.7;
}

.btn {
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
}

.btn:hover {
  opacity:1;
}

.signup{
  background-color:#239b76;
}
.facebook{
  background-color:#3b5998;
}
.twitter{
  background-color:#55acee;
}

.fa {
  margin-right:5px;
}

header{
  /* max-width:1170px; */
  width:100%;
  height:65px;
  background-color:rgba(34,49,52,0.9);
}

.header-left {
  float:left;
}


.header-left span{
  float:left;
  margin-top:20px;
  margin-right:12px;
  font-size:30px;
  color:white;
}

.header-left h2 {
  width:230px;
  margin-top:15px;
  font-size:30px;
  color:white;
}

.header-right {
  float:right;
  /* background-color:rgba(255,255,255,0.3); */

}

.header-right a{
  float:left;
  line-height:65px;
  padding-right:25px;
  padding-left:25px;
  color:white;
  display:block;
  transition:all 0.5s;
}

.header-right a:hover{
  background-color:rgba(255,255,255,0.3);
}

.menu-icon {
  color:white;
  float:right;
  font-size:25px;
  padding:25px 0;

  display:none;
}

.lesson-wrapper{
  /* height:500px; */
  background-color:#f7f7f7;
  text-align:center;
}

.heading {
  padding-top:60px;
  padding-bottom:30px;
  color:#5f5d60;
}

.heading h2 {
  font-weight:normal;

}

.lesson {
  float:left;
  width:25%;
}

/* .lesson-icon {
  position:relative;
} */

.lesson-icon span {
  position:relative;

  color:#239b76;
  font-size:220px;
}

.lesson-icon p {
  position:absolute;  
  top:130px;
  left:60px;
  color:white;
  font-size:20px;
}

.txt-contents {
  width:80%;
  display:inline-block;
  margin-top:20px;
  font-size:12px;
  color:#7b797c;
}

.message-wrapper{
  text-align:center;
  border-bottom:1px solid #eee;
  padding-bottom:80px;
}

.message {
  background-color:#5dca88;
  padding-top:15px 40px;
  cursor:pointer;
  box-shadow:0 7px #1a7940;
}

.message:active{
  position:relative;
  top:7px;
  box-shadow:none;
}

.heading h3 {
  font-weight:normal;
}

footer {
  padding-top:30px;
}

.container p {
  font-size:20px;
  color:#6b696b;
}

